name: Check Hosts

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10,22 * * *'  # 每天 10:00 和 22:00 执行

permissions:
  contents: write  # 确保有写入权限

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
        
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install --only-upgrade python3-pip
        sudo apt install build-essential libssl-dev libffi-dev
        python3 -m venv venv  # 创建虚拟环境
        source venv/bin/activate  # 激活虚拟环境
        pip install --upgrade pip  # 在虚拟环境中升级pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Run Python script
      run: |
        source venv/bin/activate  # 激活虚拟环境
        ./venv/bin/python check_hosts.py  # 使用虚拟环境中的Python解释器运行脚本
        
    - name: 提交更改
      run: |
         git config --global user.name 'GitHub Action'
         git config --global user.email 'action@github.com'
         git add README.md hosts
         git commit -m "Update Hosts IP [action]" || echo "No changes to commit"
      continue-on-error: true

    - name: Push changes
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: git push origin main
